.landing_page_container {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 16rem;

  .first-section {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 110vh;

    .first-section-content {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-top: 30px;
    }
  }

  .second-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    width: 100%;

    max-height: max-content;

    padding-bottom: 5rem;
    border-bottom: 3px solid rgb(85, 85, 85);

    .explore-container {
      height: min-content;
      padding: 2rem;
      border-radius: 1rem;
      background-color: white;
      color: black;
    }
    .right-container {
      top: 1rem;
      display: flex;
      flex-direction: column;
      gap: 2rem;
      height: max-content;
      align-items: center;
      position: sticky;

      .quote-container {
        background-color: #d8f500;
        padding: 1rem 1.5rem;
        color: black;
        border-radius: 20px;
        width: 87%;
        font-size: 1.2rem;
      }
    }
  }
}

@media screen and (max-width: 1600px) {
  .landing_page_container {
    padding: 3rem 10rem;

    .second-section {
      margin-bottom: 3rem;
    }
  }
}
@media screen and (max-width: 1440px) {
  .landing_page_container {
    padding: 3rem 7rem;
  }
}
@media screen and (max-width: 1100px) {
  .landing_page_container {
    .first-section {
      align-items: center;
      height: max-content;
      .first-section-content {
        align-items: center;
        flex-direction: column;
        gap: 2rem;
      }
    }
    .second-section {
      align-items: center;
      flex-direction: column-reverse;
      gap: 2rem;
      height: max-content;
    }
  }
}
@media screen and (max-width: 480px) {
  .landing_page_container {
    padding: 3rem 0.5rem;
    align-items: center;

    .first-section {
      justify-content: flex-start;
      height: max-content;
    }
    .second-section {
      padding: 3rem 0rem;
      height: max-content;
      align-items: center;
      justify-content: center;
      gap: 4rem;

      .explore-container {
        padding: 1rem;
      }

      .right-container {
        position: relative;
      }
    }
  }
}
