.bgcolor-container {
  display: flex;
  justify-content: center;
  width: 70px;
  height: max-content;
  padding: 1.5rem 2rem;
  border-radius: 4rem;
  transition: 0.2s all ease-in-out;

  .bgcolor-options {
    display: flex;
    flex-direction: column;
    #bgcolor-item {
      width: 40px;
      height: 40px;
      margin: 5px;
      border: 1px solid black;
      border-radius: 50%;
      cursor: pointer;
    }
  }
}

@media screen and (max-width: 480px) {
  .bgcolor-container {
    .bgcolor-options {
      #bgcolor-item {
        width: 35px;
        height: 35px;
      }
    }
  }
}
