.explore-page-main-container {
  background-color: white;
  min-height: 100vh;
  min-width: 100vw;

  .main-content-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2rem 15rem;
    width: 100vw;
  }
}

@media screen and (max-width: 450px) {
  .explore-page-main-container {
    .main-content-section {
      flex-direction: column-reverse;
      padding: 1rem 0.5rem;
      gap: 1.5rem;
    }
  }
}
