.explore-page-main-container {
  background-color: white;
  min-height: 100vh;
  min-width: 100vw;

  .main-content-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2rem 15rem;
    width: 100vw;
  }
}
