.greeting-container {
  display: flex;
  gap: 1rem;
  background-color: white;
  padding: 0.6rem;
  border: none;
  border-radius: 10px;
  color: black;
}

.greeting-container .greeting-icon {
  width: 45px;
  height: 45px;
  border-radius: 10px;
}
.greeting-container .greeting-content {
  display: flex;
  flex-direction: column;
}

.greeting-container .greeting-content .greeting-text {
  text-transform: none;
  color: black;
  font-weight: bold;
  font-size: 1.15rem;
}

.greeting-container .username {
  color: black;
  text-transform: none;
  font-size: 1.05rem;
}
.greeting-container .user-photo {
  width: 40px;
  height: 40px;
  border-radius: 10px;
}
