.liveSearchFilter {
  padding: 1rem;
  width: 600px;
  height: auto;
  transition: 0.25s all ease-in-out;
}
.search-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.8rem 1.5rem;
  border-radius: 3rem;
  background-color: #f4f4f4;
}
.search-container .fa-search {
  color: black;
  font-size: 20px;
}
.searchInput {
  width: -webkit-fill-available;

  height: 30px;

  padding: 1rem;
  resize: inherit;
  background-color: transparent;
  border: none;
  font-size: 15px;
}
.searchInput:focus-visible {
  outline: none;
}
.suggestions {
  z-index: 100;
  position: absolute;
  padding: 1rem 1.5rem;
  border-radius: 10px;
  box-shadow: 5px 5px 10px 1px rgba(0, 0, 0, 0.2);
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transition: 0.25s all ease-in-out;
}

.suggestions .relatedArticles {
  width: -webkit-fill-available;
  height: max-content;
  padding: 15px;
  resize: inherit;
  background-color: white;
  color: black;
  border: none;
  font-size: 16px;
  cursor: pointer;
  transition: 0.25s all ease-in-out;
}
.suggestions .relatedArticles:hover {
  outline: none;
  background: #f7f7f7;
}

@media screen and (max-width: 450px) {
  .liveSearchFilter {
    padding: 0.5rem;
    width: 96vw;
  }
}
