.paginatedArticleList {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 700px;
  min-height: 40vh;
  height: auto;
  margin: 0 auto;
}
.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 50px;
  font-size: 16px;
}
.pagination button {
  background-color: white;
  border: 1px solid black;
  padding: 5px 10px;
  margin: 0 5px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  font-size: large;
  cursor: pointer;
  transition: 0.25s all ease-in-out;
}
.pagination .disabled {
  opacity: 0;
  cursor: not-allowed;
  background-color: rgb(228, 228, 228);
  color: rgb(185, 185, 185);
}
.pagination button:disabled:hover {
  cursor: default;
  background-color: rgb(228, 228, 228);
  color: white;
}

.pagination button:hover {
  background-color: rgb(21, 21, 21);
  color: white;
}

@media screen and (max-width: 450px) {
  .paginatedArticleList {
    width: 95vw;
    align-items: center;
  }
}
