.footer-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 25vh;
  background-color: black;
  color: white;
  padding: 2rem 15rem;
}

.footer-container .logo {
  font-size: 5rem;
  text-transform: uppercase;
}

.footer-container .Developers {
  font-size: 2.5rem;
}

.footer-container #developers-name {
  list-style: none;
  font-size: 1.3rem;
  padding: 0.5rem 0.2rem;
}
