.the-aboutuspage {
  background-color: white;
  min-height: 100vh;
  height: max-content;
  width: 100vw;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.aboutus-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: black;
  margin: 1rem;
}

.aboutus-head {
  justify-content: center;
  font-size: 25px;
  margin-left: 8rem;
  margin-bottom: 1rem;
}

.aboutus-des {
  height: max-content;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.aboutus-content {
  background-color: white;
  margin: 1rem;
}

.aboutus-image {
  height: 350px;
  width: 330px;
}

.aboutus-name {
  text-transform: uppercase;
  font-size: 18px;
}

.aboutus-email {
  font-size: 18px;
  color: grey;
}

.aboutus-github {
  margin-top: 0.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}
.aboutus-github:hover {
  transform: scale(1.04);
}
.aboutus-github:active {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
.aboutus-github .fa-github {
  font-size: 30px;
}

.aboutus-github a {
  text-decoration: underline;
  color: black;
  font-size: 18px;
}

@media screen and (max-width: 480px) {
  .the-aboutuspage {
    height: max-content;
  }
  .aboutus-container {
    height: max-content;
    flex-direction: column;
    align-items: center;
  }
  .aboutus-head {
    font-size: 22px;
    margin-left: 0;
  }
  .aboutus-des {
    flex-direction: column;
    align-items: center;
  }
  .aboutus-image {
    height: auto;
    width: 70vw;
  }
}
