.the-aboutuspage {
  background-color: white;
  min-height: 100vh;
  height: max-content;
  width: 100vw;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  overflow-x: hidden;
}

.aboutus-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 80vw;
  height: auto;
  margin: 0 auto;
  padding: 30px;
  text-align: center;
}
.aboutCocoon{
  background-color: whitesmoke;
  margin-bottom: 4rem;
  padding: 1rem;
}
.aboutCocoon h1 {
  font-size: 36px;
  color: #242424;
  margin-bottom: 20px;
}

.aboutCocoon p {
  font-size: 18px;
  font-weight: 500;
  margin: 1rem 15rem 0rem;
  color: #464646;
  line-height: 1.5;
  text-align: center;
}

.aboutus-container h1{
  font-size: 36px;
  color: #333;
}

.aboutus {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.aboutus-content {
  color: #464646;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 20rem;
  max-width: 100%;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(2, 2, 2, 0.1);
  margin: 1rem;
  padding: 1rem;
}

.aboutus-image {
  height: auto;
  width: 100%;
  max-height: 320px;
  object-fit: contain;
  margin-bottom: 1rem;
}

.aboutus-name {
  text-transform: uppercase;
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.aboutus-email {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.aboutus-github {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  transition: all 0.1s linear;
}

.aboutus-github:hover {
  transform: scale(1.1);
}

.aboutus-github:active {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
.aboutus-github .fa-github {
  font-size: 30px;
}

.aboutus-github a {
  text-decoration: underline;
  color: black;
  font-size: 18px;
}

@media screen and (max-width: 480px) {
  .the-aboutuspage {
    height: max-content;
  }
  .aboutCocoon p{
    margin: 2rem 1rem 0rem;
    text-align: center;
  }
  .aboutus-container {
    height: max-content;
    flex-direction: column;
    align-items: center;
  }

  .aboutus-image {
    height: auto;
    width: 70vw;
  }
}
