.comment-main-container {
  display: flex;
  position: fixed;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: flex-end;
  transition: 0.4s all ease-in-out;
  z-index: 5;

  .comment-overlay-container {
    width: 600px;
    height: 100vh;
    padding: 1.5rem;
    position: sticky;
    overflow: hidden;
    overflow-y: scroll;
    border-radius: 20px 0px 0px 20px;
    background-color: white;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1), 0 10px 24px rgba(0, 0, 0, 0.05),
      0 16px 40px rgba(0, 0, 0, 0.05);
    transition: 1s all ease-in-out;

    .comment-overlay-heading {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      padding: 0.5rem 0.7rem;

      h2 {
        font-size: 20px;

        font-family: Arial, Helvetica, sans-serif;
        opacity: 93%;
      }
      .fa-times {
        font-size: 25px;
        cursor: pointer;
        transition: all 0.2s ease-in-out;
      }
      .fa-times:hover {
        font-size: 28px;
      }
    }

    .create-comment-section {
      padding: 1.5rem;
    }
  }
}

@media screen and (max-width: 380px) {
  .comment-main-container {
    .comment-overlay-container {
      width: 100vw;
      padding: 1rem;
      .comment-overlay-heading {
        padding: 0.5rem;
      }
    }
  }
}
