.comments {
  width: 100%;
  margin: 0 auto;
}
.commentContainer {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  min-height: 100px;
  padding: 15px;
  resize: inherit;
  border: none;
}

.display-comments-heading h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 22px;
  opacity: 92%;
}
.commentItself{ 
  display: flex;
}
.commentItself img{
  width: 55px;
  height: 55px;
  border-radius: 20px;
  margin-right: 15px;
}
.commentItself .commentInfo .username{
  font-weight: 700;
  opacity: 85%;
  margin-right: 7px;
}
.commentItself .commentInfo .commentTime{
  opacity: 60%;
  font-size: 12px;
  font-weight: 700;
  margin-right: 10px;
}
.commentItself .commentInfo p{
  opacity: 85%;
  margin-top: 5px;
  font-size: 14px;
  font-weight: 500;
}
.deleteButton .delete {
  color: white;
  background: rgb(194, 7, 7);
  padding: 6px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 0 0 rgba(230, 12, 12, 0.4);
}

.deleteButton .delete:hover {
  background: rgb(253, 75, 75);
  box-shadow: 0 0 10px rgba(230, 12, 12, 0.4);
}
