.comments {
  width: 100%;

  margin: 0 auto;
}
.commentContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-height: 120px;
  padding: 20px 10px 30px 10px;
  resize: inherit;
  border: none;
}

.display-comments-heading h2 {
  font-size: 17px;
}
.commentinfo {
  display: flex;
  align-items: center;
  gap: 10px;
}
.commentinfo h3 {
  font-size: 18px;
  font-weight: 700;
  text-transform: lowercase;
  font-family: "Sora", sans-serif;
}
.commentinfo h4 {
  color: rgb(81, 81, 81);
  font-size: 12px;
  font-weight: normal;
}
.comment {
  word-wrap: break-word;
  height: auto;
  font-size: 15px;
  max-height: 400px;
  width: 100%;
  overflow: hidden;
  overflow-y: auto;
}
.deleteButton .delete {
  color: white;
  background: rgb(230, 12, 12);
  padding: 10px 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.25s all ease-in-out;
}
.deleteButton .delete:hover {
  background: rgb(253, 75, 75);
}
