.editor-main-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  background-color: white;
}
.editor-main-wrap .editor-content {
  display: flex;
  flex-direction: row;
  padding: 2rem 4rem;
  gap: 4rem;
}
.editor-main-wrap .editor-content .additional-option-container {
  display: flex;
  flex-direction: column;
  border-radius: 1.5rem;
  padding: 1rem 0.7rem;
  width: 610px;
  height: -moz-max-content;
  height: max-content;
  transition: 0.25s all ease-in-out;
}
.editor-main-wrap .editor-content .additional-option-container .img-selector {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}
.editor-main-wrap .editor-content .heading-input {
  width: 800px;
  max-height: 25vh;
  padding: 1rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  border: none;
  font-size: 2.5rem;
  font-weight: bold;
  font-family: "Lora", serif;
  outline: none;
  resize: none;
}
.editor-main-wrap .editor-content .heading-input::-moz-placeholder {
  color: rgb(193, 193, 193);
}
.editor-main-wrap .editor-content .heading-input::placeholder {
  color: rgb(193, 193, 193);
}
.editor-main-wrap .editor-content .heading-input:focus {
  outline: none;
}
.editor-main-wrap .editor-content .subheading-input {
  width: 800px;
  padding: 1rem;
  max-height: 15vh;
  margin-bottom: 1rem;
  border: none;
  font-size: 1.4rem;
  font-family: "Lora", serif;
  font-weight: bold;
  resize: none;
}
.editor-main-wrap .editor-content .subheading-input::-moz-placeholder {
  color: rgb(193, 193, 193);
}
.editor-main-wrap .editor-content .subheading-input::placeholder {
  color: rgb(193, 193, 193);
}
.editor-main-wrap .editor-content .subheading-input:focus {
  outline: none;
}
.editor-main-wrap .editor-content .text-editor-wrap {
  border: 2px solid rgb(221, 221, 221);
  border-radius: 1.2rem;
  padding: 1rem 2rem;
  min-height: 57vh;
  width: 800px;
  color: black;
}
.editor-main-wrap .editor-content .text-editor-wrap:focus {
  outline: none;
}
.editor-main-wrap .editor-content .is-active {
  background-color: black;
  color: white;
}
.editor-main-wrap .editor-content .is-inactive {
  background-color: white;
  color: black;
}
.editor-main-wrap .editor-content code {
  background-color: rgba(97, 97, 97, 0.1);
  color: #616161;
  padding: 0.5rem;
  border-radius: 0.5rem;
  font-size: 0.95rem;
  font-family: "Courier New", Courier, monospace;
}
.editor-main-wrap .editor-content p {
  font-size: 19px;
  font-family: "Lora", serif;
  margin: 1rem 0rem;
}
.editor-main-wrap .editor-content blockquote {
  color: rgb(90, 90, 90);
  padding-left: 1rem;
  border-left: 2px solid rgba(82, 0, 255, 0.85);
}
.editor-main-wrap .editor-content blockquote p {
  font-size: 18px;
}
.editor-main-wrap .editor-content pre {
  background-color: #0d0d0d;
  color: white;
  font-family: "Courier New", Courier, monospace;
  padding: 1.2rem;
  border-radius: 0.6rem;
}
.editor-main-wrap .editor-content pre code {
  color: white;
  padding: 0px;
  background: none;
  font-size: 16px;
}

.content .ProseMirror {
  outline: none;
}

.nav-bar-container {
  width: 72vw;
  height: 6vh;
  margin: 0.8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: black;
}
.nav-bar-container h2 {
  color: black;
}
.nav-bar-container h2:hover {
  cursor: pointer;
}
.nav-bar-container .publish-btn {
  padding: 0.8rem 1.3rem;
  border-radius: 10px;
  border: none;
  font-size: 1rem;
  font-weight: bold;
  background-color: rgb(60, 0, 255);
  color: white;
  transition: 0.3s all ease-in-out;
}
.nav-bar-container .publish-btn:hover {
  cursor: pointer;
  background-color: black;
}

.imgurl-textwrap:focus {
  outline: none;
}

.overlay-main-container {
  display: flex;
  position: absolute;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.65);
  transition: 0.3s all ease-in-out;
  z-index: 3;
}
.overlay-main-container .overlay-footer {
  justify-content: flex-end;
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
}
.overlay-main-container .overlay-btn {
  padding: 0.8rem 1.3rem;
  border-radius: 10px;
  border: none;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s all ease-in-out;
}
.overlay-main-container .overlay-btn:hover {
  opacity: 0.8;
}/*# sourceMappingURL=newArticlePage.css.map */