.editor-main-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  background-color: white;
  .editor-content {
    display: flex;
    flex-direction: row;
    padding: 2rem 4rem;
    gap: 4rem;
    .additional-option-container {
      display: flex;
      flex-direction: column;
      border-radius: 1.5rem;
      padding: 1rem 0.7rem;
      width: 610px;
      height: max-content;
      transition: 0.25s all ease-in-out;

      .img-selector {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;
      }
    }
    .heading-input {
      width: 800px;
      max-height: 25vh;
      padding: 1rem;
      margin-top: 2rem;
      margin-bottom: 2rem;
      border: none;
      font-size: 2.5rem;
      font-weight: bold;
      font-family: "Lora", serif;
      outline: none;
      resize: none;
    }
    .heading-input::placeholder {
      color: rgb(193, 193, 193);
    }

    .heading-input:focus {
      outline: none;
    }
    .subheading-input {
      width: 800px;
      padding: 1rem;
      min-height: fit-content;
      margin-bottom: 1rem;
      border: none;
      font-size: 1.4rem;
      font-family: "Lora", serif;
      font-weight: bold;
      resize: none;
    }
    .subheading-input::placeholder {
      color: rgba(193, 193, 193);
    }

    .subheading-input:focus {
      outline: none;
    }
    .text-editor-wrap {
      border: 2px solid rgb(221, 221, 221);
      border-radius: 1.2rem;
      padding: 1rem 2rem;
      min-height: 57vh;
      width: 800px;
      color: black;
    }
    .text-editor-wrap:focus {
      outline: none;
    }
    .is-active {
      background-color: black;
      color: white;
    }

    .is-inactive {
      background-color: white;
      color: black;
    }

    code {
      background-color: rgba(#616161, 0.1);
      color: #616161;
      padding: 0.5rem;
      border-radius: 0.5rem;
      font-size: 0.95rem;
      font-family: "Courier New", Courier, monospace;
    }

    p {
      font-size: 19px;
      font-family: "Lora", serif;
      margin: 1rem 0rem;
    }
    blockquote {
      color: rgb(90, 90, 90);
      padding-left: 1rem;
      border-left: 2px solid rgba(rgb(82 0 255), 0.85);
      p {
        font-size: 18px;
      }
    }
    pre {
      background-color: #0d0d0d;
      color: white;
      font-family: "Courier New", Courier, monospace;
      padding: 1.2rem;
      border-radius: 0.6rem;

      code {
        color: white;
        padding: 0px;
        background: none;
        font-size: 16px;
      }
    }
  }
}
.content {
  .ProseMirror {
    outline: none;
  }
}

.nav-bar-container {
  width: 72vw;
  height: 6vh;
  margin: 0.8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: black;

  h2 {
    color: black;
  }
  h2:hover {
    cursor: pointer;
  }
  .publish-btn {
    padding: 0.8rem 1.3rem;
    border-radius: 10px;
    border: none;
    font-size: 1rem;
    font-weight: bold;
    background-color: rgb(60, 0, 255);
    color: white;
    transition: 0.3s all ease-in-out;
  }

  .publish-btn:hover {
    cursor: pointer;
    background-color: black;
  }
}
.imgurl-textwrap:focus {
  outline: none;
}

.overlay-main-container {
  display: flex;
  position: absolute;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.65);

  transition: 0.3s all ease-in-out;
  z-index: 3;
  .overlay-footer {
    justify-content: flex-end;
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
  }
  .overlay-btn {
    padding: 0.8rem 1.3rem;
    border-radius: 10px;
    border: none;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s all ease-in-out;
  }
  .overlay-btn:hover {
    opacity: 0.8;
  }
}
