.fields {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: none;
  background-color: white;
  min-height: 100vh;
  height: max-content;
  width: 100%;
}

.userIntro {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 8rem;
}

.profile-txt {
  font-size: 23px;
  margin-top: 2rem;
  color: black;
}

.useravatar {
  height: 130px;
  width: 130px;
  border-radius: 50%;
  margin-top: 2rem;
}

.userkoname {
  font-size: 28px;
  margin-top: 1rem;
  color: black;
}

.writer-txt {
  color: #665df5;
}

.heading-contain {
  position: absolute;
  font-family: "Landasans";
  /*transform: translate(-50%, -50%);
  border-bottom: 3px solid black;
  line-height: 35px;
  overflow: hidden;
  width: 300px;
  height: 40px;
   */
}

.uploads-heading {
  color: white;
  font-size: 30px;
  font-weight: 500;
  padding: 2px 20px;
  background: black;
  display: inline-block;
  text-transform: uppercase;
}

.uploads-heading:before {
  position: absolute;
  content: "";
  width: 80%;
  height: 100%;
  background: black;
  z-index: -1;
  transform: rotate(45deg);
}

.uploads-des {
  margin: 2rem 0rem;
}
