.top-stories_container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  .container-title {
    text-transform: uppercase;
    font-weight: 600;
    color: rgb(60 255 208);
  }
}

.stories-item-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  width: 380px;
  gap: 1rem;
  padding-bottom: 1rem;
  text-align: left;

  .item-no {
    font-size: 0.7rem;
    color: rgb(60 255 208);
    background-color: rgb(50, 50, 50);
    padding: 5px 9px;
    border-radius: 50%;
  }

  .item-title {
    font-size: 1.25rem;
    letter-spacing: -0.1px;
    transition: 0.1s ease-in-out;
    text-transform: none;
    text-decoration: underline transparent;
    color: white;
  }

  .item-title:hover {
    cursor: pointer;
    text-decoration: underline;
  }
  .item-info {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 0.5rem;

    .author-name {
      font-size: 0.75rem;
      color: rgb(60 255 208);
      text-transform: uppercase;
    }
    .published-date {
      font-size: 0.75rem;
      color: rgb(135, 135, 135);
      text-transform: uppercase;
    }
  }
  img {
    height: 80px;
    width: 90px;
    border-radius: 5px;
    object-fit: cover;
    align-self: flex-end;
  }
}

@media screen and (max-width: 450px) {
  .stories-item-container {
    width: 92vw;
  }
}
